@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}
 html, bady {
    min-height: 100vh;
   background-color: darkgray;
 }

 header {
    background-color: black;
    color: white;
    text-align: center;
 }


 

 

 
 
    
    

    
    