@charset "utf-8";

*{
font-family: Arial, Helvetica, sans-serif;
    / *right:100%*/ ;
}
body{
    background-image: linear-gradient(to right #BFD9D9 #ACDF86 );
}
main{
    background-color: beige;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(136, 69, 69);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #D96C80;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(hsl(0, 29%, 44%), #408a40, #474775);
}
h2{
    color:#F4B277 ;
}


p{
    text-align: justify;
}




